tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

th:hover {
    background-color: red;

}
table:hover{
    background-color: aqua
}
table, th, td {
    border: 1px solid black;
}